[data-theme="prototype"] {
  --primary-bg-color: #ffffff;
  --additional-bg-color: #f8f8f8;
  --accent-bg-color: #fbe9ba;
  --btn-icon-bg: #f4c550;
  --btn-hover-bg: #ffdc86;
  --text-color: #121417;
}

[data-theme="yellow"] {
  --primary-bg-color: #ffffff;
  --additional-bg-color: #f8f8f8;
  --accent-bg-color: #fbe9ba;
  --btn-icon-bg: #f4c550;
  --btn-hover-bg: #ffdc86;
  --text-color: #121417;
}

[data-theme="green"] {
  --primary-bg-color: #ffffff;
  --additional-bg-color: #f8f8f8;
  --accent-bg-color: #cbded3;
  --btn-icon-bg: #9fbaae;
  --btn-hover-bg: #cbded3;
  --text-color: #121417;
}

[data-theme="blue"] {
  --primary-bg-color: #ffffff;
  --additional-bg-color: #f8f8f8;
  --accent-bg-color: #bfd6ea;
  --btn-icon-bg: #9fb7ce;
  --btn-hover-bg: #aacedd;
  --text-color: #121417;
}

[data-theme="brown"] {
  --primary-bg-color: #ffffff;
  --additional-bg-color: #f8f8f8;
  --accent-bg-color: #f2c0bd;
  --btn-icon-bg: #e0a39a;
  --btn-hover-bg: #ebbad0;
  --text-color: #121417;
}

[data-theme="pink"] {
  --primary-bg-color: #ffffff;
  --additional-bg-color: #f8f8f8;
  --accent-bg-color: #f4c8ba;
  --btn-icon-bg: #f0aa8d;
  --btn-hover-bg: #fbb4c3;
  --text-color: #121417;
}
